<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tela de Login</title>
    <link rel="stylesheet" href="/css/TelaLogin.css">
</head>
<body>
    <div class="login-container">
        <div class="login-box">
            <div class="icon-container">
                <img src="/imgs/IconApp.png" alt="login-icon" class="login-icon">
            </div>
            <h1>LOGIN</h1>
            <p>Faça login na sua conta</p>

            <form action="/login" method="POST">
                <input type="email" name="email" placeholder="Email" required>
                <input type="password" name="password" placeholder="Password" required>
                <button type="submit" class="btn-signin">Entrar</button>
            </form>

            <p class="or-signin">- OU ENTRAR COM -</p>
            <div class="social-login">
                <a href="#"><img src="/imgs/google.png" alt="Google"></a>
                <a href="#"><img src="/imgs/facebook.png" alt="Facebook"></a>
            </div>
            <p class="register-text">Não tem uma conta?<a href="/TelaCadastro">Cadastre-se</a></p>
        </div>
    </div>
</body>
</html>
