<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tela de Cadastro</title>
    <link rel="stylesheet" href="css/TelaLogin.css">
</head>
<body>
    <div class="register-container">
        <div class="register-box">
            <div class="back-arrow">
                <a href="TelaLogin">&#8592;</a>
            </div>
            <h1>INCREVA-SE</h1>
            <p>Crie sua conta</p>

            <form action="/register" method="POST">
                <input type="email" name="email" placeholder="Email" required>
                <input type="password" name="password" placeholder="Password" required>
                <input type="text" name="nome" placeholder="Nome" required>
                <button type="submit"
                class="btn-register">Cadastre-se</button>
            </form>
        </div>
    </div>
</body>
</html>
