<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SENTRY</title>
    <link rel="stylesheet" href="/css/TelaDenuncias.css">
</head>
<body>
    <div class="container">
        <!-- Top Bar -->
        <div class="top-bar">
            <a href="TelaInicial.html" class="icon-left">
                <img src="/imgs/Back.png" alt="Voltar">
            </a>
            <span class="title">SENTRY</span>
            <div class="icon-right">
                <img src="/imgs/Notificações.png" alt="Notificações">
            </div>
        </div>
        <!-- Sessão de report -->
        <div class="report-section">
            <div class="report-circle">
                <img src="/imgs/Aviso.png" alt="Warning" class="report-icon">
            </div>
            <h2 class="report-title">FAÇA UMA DENÚNCIA</h2>

            <!-- Caixa de report -->
            <form action="/submit-report" method="POST">
                <div class="report-box">
                    <textarea class="report-input" name="reportText" placeholder="Write your report here" style="width: 80%"></textarea>
                    <button type="submit" class="send-button">Mandar</button>
                </div>
            </form>
        </div>

        <!-- Botões de navegação -->
        <div class="bottom-nav">
            <a href="/TelaInicial" class="nav-button">
                <img src="/imgs/homeicon.png" alt="Home">
                <span>Home</span>
            </a>
            <a href="/TelaForum" class="nav-button">
                <img src="/imgs/Denunciasicon.png" alt="Reports">
                <span>Denúncias</span>
            </a>
        </div>
    </div>
</body>
</html>
